In [1]:
import pandas as pd

In [2]:
path = '/Users/Nonis/desktop/ih_datamadpt0420_project_m1/data/raw'

data_raw = pd.read_csv(f'{path}/data_raw.csv', sep=';') 

data_raw.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid.1,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid.2,country_code,rural,uuid.3,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,NaN,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,NaN,no,NaN,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [3]:
data_raw['age_group'].unique()

array(['40_65', '26_39', 'juvenile', '14_25'], dtype=object)

### clean age

In [4]:
def remove_yearsold(x):
    try:
        return int(x.replace(' years old',""))
    except:
        return x
    
data_raw['age'] = data_raw['age'].apply(remove_yearsold) 


def age_calculation(x):
    try:
        if len(str(x))>3:
            year = 2016
            age = year - x
            return age
        else:
            return x
    except:
        return x

data_raw['age'] = data_raw['age'].apply(age_calculation)
data_raw.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid.1,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid.2,country_code,rural,uuid.3,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,NaN,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,NaN,no,NaN,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41,Fem,yES,40_65

### clean gender

In [5]:
import re
data_raw['gender'].value_counts()
type(data_raw['rural'])

pandas.core.series.Series

In [6]:
def clean_gender(x):
    x_lower = x.lower()
    if x_lower == 'fem':
        xf = x_lower.replace('fem','female')
        return xf
    else:
        return x_lower
    
data_raw['gender'] = data_raw['gender'].apply(clean_gender)
data_raw.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid.1,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid.2,country_code,rural,uuid.3,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,NaN,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,NaN,no,NaN,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45,male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41,female,yES,40_65

In [7]:
data_raw['gender'].value_counts()

male      5094
female    4555
Name: gender, dtype: int64

### clean age pycharm

In [8]:
from sqlalchemy import create_engine
import pandas as pd
import re
from functools import reduce

In [9]:

import pandas as pd
import re
from functools import reduce
def all_data():
    df = pd.read_csv('/Users/Nonis/desktop/ih_datamadpt0420_project_m1/data/processed/data_merged.csv')
    df = pd.DataFrame(df)
    return df

In [10]:
df = all_data()
df

,Country,Job Title,Age,Age Group
0,Belgium,Unemployed,48,40_65
1,Belgium,Unemployed,46,40_65
2,Belgium,Data Security Administrator,40,40_65
3,Belgium,Data Warehouse Developer,42,40_65
4,Belgium,Geographic Information Systems Data Manager (G...,52,40_65
...,...,...,...,...
8445,Poland,Data Storage Specialist,39,26_39
8446,Poland,Automatic Data Processing Planner,32,26_39
8447,Poland,Unemployed,18,14_25
8448,Poland,Unemployed,51,40_65
8449,Poland,Databases Software Consultant,45,40_65

In [11]:
def age_group(df):
    df['age_group'] = df['age_group'].replace('juvenile','14_25').replace('_','-')
    return df

In [12]:
age_group(df)
df['age_group'].unique()

KeyError: 'age_group'

In [ ]:
#def clean_age(df):
    #df['age'] = df['age'].apply(lambda age: re.sub('[a-z]','',age))
    #df = df.astype({'age':int})
    #df['age'] = df['age'].apply(lambda age: age if age < 250 else 2016-age)
    #return df

In [ ]:
#def clean_age(df):
    #df['age'] = df['age'].apply(lambda age: re.sub(' years old','', age))
    #df['age'] = df['age'].apply(lambda age: age if len(age)<3 else 2016-int(age))
    #return df
    #try:
        #return int(x.replace(' years old',""))
    #except:
        #return x

In [ ]:
#clean_age(df)

In [ ]:
#df['age'].unique()

### clean gender pycharm

In [ ]:
def clean_gender(df):
    #df['gender'] = df['gender'].astype(str)
    df['gender'] = df['gender'].replace('male','Male')\
    .replace('FeMale','Female')\
    .replace('Fem','Female')\
    .replace('female','Female')
    return df

In [ ]:
clean_gender(df)

In [ ]:
df['gender'].value_counts()

In [ ]:
def clean_columns(df):
    df.rename(columns={'title': 'Job Title', 'country_name':'Country', 'age': 'Age'}, inplace=True)
    #df.loc[df['Job Title'].isnull(),'Job Title']='Unemployed'
    df['Job Title'].fillna('Unemployed', inplace = True)
    df['normalized_job_code'].fillna('Unemployed', inplace = True)
    return df

In [ ]:
clean_columns(df)

In [13]:
df

,Country,Job Title,Age,Age Group
0,Belgium,Unemployed,48,40_65
1,Belgium,Unemployed,46,40_65
2,Belgium,Data Security Administrator,40,40_65
3,Belgium,Data Warehouse Developer,42,40_65
4,Belgium,Geographic Information Systems Data Manager (G...,52,40_65
...,...,...,...,...
8445,Poland,Data Storage Specialist,39,26_39
8446,Poland,Automatic Data Processing Planner,32,26_39
8447,Poland,Unemployed,18,14_25
8448,Poland,Unemployed,51,40_65
8449,Poland,Databases Software Consultant,45,40_65

In [56]:
def analyze(df):
    grouped = df.groupby(['Country', 'Job Title', 'Age Group']).agg({'Quantity':'count'}).reset_index()
    return grouped

In [57]:
analyze(df)

,Country,Job Title,Age Group,Quantity
0,Austria,Automatic Data Processing Customer Liaison (AD...,26_39,1
1,Austria,Automatic Data Processing Customer Liaison (AD...,40_65,1
2,Austria,Automatic Data Processing Planner,40_65,2
3,Austria,Automatic Data Processing Systems Security Spe...,26_39,1
4,Austria,Automatic Data Processing Systems Security Spe...,40_65,1
...,...,...,...,...
2701,Sweden,SQL Database Administrator,40_65,1
2702,Sweden,Survey Data Technician,40_65,1
2703,Sweden,Unemployed,14_25,35
2704,Sweden,Unemployed,26_39,20
2705,Sweden,Unemployed,40_65,26

KeyError: 'columns'

In [ ]:
df['Age_group']